<div class="container black animated fadeIn fast">
    <img src="../../../assets/img/imgcorreo.jpg" class="rounded float-left img" alt="...">
    <h1 class="lead contacto">CONTACTO</h1>

    <p class="lead correo">
        <a href="mailto:davd9011@gmail.com"> davd9011@gmail.com</a></p>
    <div class="linked">
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/rodriguezzz" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="lead" href="https://www.linkedin.com/in/rodriguezzz"> LinkedIn</a>
    </div>
</div>