<div class="jumbotron jumbotron-fluid jumbotronInit">
    <div class="container">

        <div class="nombre">David Rodríguez</div>
        <p class="lead">Programador Multiplataforma </p>

    </div>
</div>

<app-carrusel></app-carrusel>


<div class="jumbotron down">
    <p class="lead descrip">Apasionado de las nuevas tecnologías con interés en el constante aprendizaje en el mundo del desarrollo de aplicaciones. Dispongo de 2 años de experiencia profesional con ANGULAR , APPs en JavaScript y aplicaciones MEAN.
    </p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/rodriguezzz" role="button"><i class="fab fa-linkedin-in"></i></a>
    </p>
</div>