<div class="card w-100 animated fadeIn fast">
    <img class="card-img-top img-fluid" width="600px" src="{{lenguaje.img}}" alt="">

    <hr/>

    <div class="card-block">
        <h5 class="card-title">{{lenguaje.conocimiento}}</h5>
        <h5 class="card-title">{{lenguaje.experiencia}}</h5>
        <p class="card-text">{{lenguaje.descripcion}}</p>
        <p class="card-text">{{lenguaje.descripcion2}}</p>
        <p class="card-text">{{lenguaje.descripcion3}}</p>
        <p class="card-text">{{lenguaje.descripcion4}}</p>

    </div>
</div>