<div class="content-all animated fadeIn fast">
    <div class="content-carrousel">
        <figure><img src="../../../assets/img/angular.png"></figure>
        <figure><img src="../../../assets/img/express.png"></figure>
        <figure><img src="../../../assets/img/lenguajes.png"></figure>
        <figure><img src="../../../assets/img/mongo.png"></figure>
        <figure><img src="../../../assets/img/node.jpeg"></figure>
        <figure><img src="../../../assets/img/sql.png"></figure>
        <figure><img src="../../../assets/img/mean.png"></figure>
        <figure><img src="../../../assets/img/java.jpg"></figure>
        <figure><img src="../../../assets/img/php.jpg"></figure>

    </div>
</div>